<nav class="navbar transparent navbar-inverse navbar-fixed-top">
   <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">WHEN & WHERE</a></li>
        <li><a href="#">ACCOMODATIONS</a></li>
        <li><a class="hashtag" href="#">#THEJUANFORDANIELLE</a></li>
        <li><a href="#">REGISTRY</a></li>
        <li><a href="#">HONEY FUND</a></li>
      </ul>
    </div>
</nav>