
<div class="container-fluid instagram">
  <div class="row">
    <% @images.each do |element| %>
    <div class="col-xs-12 col-sm-3" style="padding-left: 5px; padding-right: 5px;">
      <img src= <%= "#{element}" %> class="img-rounded img-responsive center-block">
    </div>
    <% end %>
  </div>
</div>






